<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="omar.apps923.downloadmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Application"
    >

        <activity
            android:name=".ui.Main.MainActivity"
             android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.Settings.SettingsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".ui.License.LicenseActivity"
            android:screenOrientation="portrait"
            >

        </activity>


        <activity android:name="modules.prdownloader.outercode.ui.activities.DownloadsActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <receiver
        android:name="modules.prdownloader.outercode.notifications.BroadCastReceivers.NotificationsBroadCast"
        android:enabled="true"
        android:exported="false" />
    </application>

</manifest>